body{
 background-image: url("https://images.unsplash.com/35/BIR62RGGjGxN5nrbnzwu_3.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80");
 background-repeat: no-repeat;
 background-attachment: scroll;
 background-size: 100%;
}

h1{
 font-family: 'Rum Raisin';
 font-style: normal;
 font-size: 300%;
 color: rgb(253, 253, 251);
 -webkit-text-stroke: 0.01px black;
}

p{
 font-family: 'Rum Raisin', sans-serif;
 font-style: normal;
 font-size: 300%;
 color: rgb(253, 253, 251);
 -webkit-text-stroke: 1.2px black;   
}

.fondo{
 color: rgb(248, 248, 250);
 background-color: rgb(106, 106, 211);
 padding: 10px;
 border-radius: 10px;
 -webkit-text-stroke: 0.3px black;  
 margin: 25px;
 font-size: 95%;
 
} 
.nombre{
    padding: 8px;
    border-radius: 5px;
    margin: 6px;
    padding-left: 5%;
    padding-right: 5%;
}
.nombre::-webkit-input-placeholder {
    text-align: center;
}  
.correo{
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
}
.correo::-webkit-input-placeholder {
    text-align: center;
}  
.pasword{
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 25px;  
}
.pasword2{
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 25px;  

}
.offset{
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.offset2{
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.hide{
    display: none;
}
.centrado{
    text-align: center;
}
.caja {
    width: 35%;
    height: auto;
    min-height: 50px;
    background-color: #DADADA;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 2px 2px 10px 1px #898989;
    margin-right: auto;
    margin-left: auto;
} 
footer{
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 40px;
   font-family: 'Cardo', serif; 
   font-style: normal;
   text-align: center;
   font-size: 120%;
   color: white;
   background-color: black;
   padding: 10px;
   margin-left: -10px;
}
